
#Home video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -100;
    transition: 1s opacity;
}

.well
        {
            background: rgba(0,0,0,0.7);
            border: none; 
        }
        .wellfix
        {
            background: rgba(0,0,0,0.7);
            border: none;
            height: 150px;
        }
        p
        {
            font-size: 13px;
        }
 .btn:hover {
  background-color: red;
}


  .btn {
  position:relative;
  bottom : -28px;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8087;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  text-align: center;

}
 .buttonbar {
  position:relative;
  bottom : 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #0064;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  text-align: center;

}
 .btn1 {
  position:relative;
  bottom : 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8087;
  
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  text-align: center;

}

  
 
