
#Home video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -100;
    transition: 1s opacity;
}
.container{
   padding: 0px;
}

.well
        {
            background: rgba(0,0,0,0.7);
            border: none; 
        }
        .wellfix
        {
            background: rgba(0,0,0,0.7);
            border: none;
            height: 150px;
        }
        p
        {
            font-size: 13px;
        }
 .btn:hover {
  background-color: red;
}


  .btn {
  position:relative;
  bottom : -28px;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8087;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  text-align: center;

}
 .buttonbar {
  position:relative;
  bottom : 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #0064;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  text-align: center;

}



 .btn1 {
  position:relative;
  bottom : -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8087;
  
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;

}

/*******Our Service*****************************/
.service-wrp{
background: black ;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 60px
padding:0px;
}

.service-wrp-inner{
max-width: 1140px;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.service-card{
width: 32%;
margin: 5px 0
}

.service-card h4{
font-size: 32px;
font-weight: 300;
line-height: 1.5;
color: #fff;
}

.bg-dark{
background-color: rgba(19, 96, 239, 0.02);
padding: 10px;
}

.d-flex{
display: flex;
align-items: center;
margin-bottom: 20px
}

.service-card .heading h5{
color: #f8f9fa;
font-weight: 500;
font-size: 20px;
line-height: 1.3
}

.service-card .info{
color: #8090b5;
line-height: 1.7;   
}

.service-card .info-link{
    color: #8090b5;
    font-size: 12px
}

p{
    color: #ed9e21;
}
h2{
  text-align: center;
   color: blue;
}

@media (max-width: 768px){
.service-wrp {
padding: 40px 15px;
margin-top: 0
}

.service-card h4 {
font-size: 26px;
line-height: 1.3;
}

.service-wrp-inner {
flex-direction: column;
}

.service-card {
width: 100%;
margin: 10px 0px;
}
}
  
/*------------------------------
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
*/
